/* Univarsal styles here */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* Shared styles section */
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Math&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:rgb(78, 71, 255);
    --mini-text-color:rgba(137, 135, 161, 1);
}
.display-flx-space-btwn{display: flex; justify-content:space-between;}
.display-flx-space-aroud{display: flex; justify-content:space-around;}
.btn-styles{background-color:rgb(78, 71, 255);padding: 12px 36px;color: #FFFF; border:none; border-radius: 10px;}
.mini-text-properties{
  font-family: "Libertinus Math", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color:var(--mini-text-color);
}

/* Body styling started form here */
.libertinus-math-regular {
  font-family: "Libertinus Math", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: rgb(245,248,255);
}

/* Header section styling started from here */
header{
    height:698px;
    max-width:1400px;
    background: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* nav-bar style */
nav{
    padding: 0 150px;
    height:110px;
    align-items: center;
}
nav h2{
    font-size: 34px;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
}

/* Banner styling started from here */
.banner{
    text-align: center;
}
.banner h1{
    font-size: 65px;
    margin: 120px 260px 40px 260px;

}
/* Main section styling started from here */
main{
    padding: 120px 140px;
}
.action{
    height:330px;
    width: 100%;
    gap:136px;
    align-items: center;
}
.action h2{
    font-size: 42px;
    font-weight: bold;
}
.action p{
    margin: 30px 0;
    font-size: 24px;
    color: var(--mini-text-color);
}
.action-right img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}