/* Univarsal styles here */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* Shared styles section */
.raleway-unique-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font-user{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}
:root{
    --primary-color:rgb(78, 71, 255);
    --mini-text-color:rgba(137, 135, 161, 1);
}
.display-flx-space-btwn{display: flex; justify-content:space-between;}
.display-flx-space-aroud{display: flex; justify-content:space-around;}
.btn-styles{background-color:rgb(78, 71, 255);padding: 12px 36px;color: #FFFF; border:none; border-radius: 10px;}
.btn-styles:hover{background-color:rgb(255, 184, 5);transition:0.3s ease-in-out; cursor: pointer;}
/* Body styling started form here */
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
body{
    background-color: rgb(245,248,255);
    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Header section styling started from here */
header{
    height:650px;
    max-width:1400px;
    background: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* nav-bar style */
nav{
    padding: 0 150px;
    height:110px;
    align-items: center;
}
nav h1{
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
}
span{
  color: rgb(255, 184, 5);
}
/* Banner styling started from here */
.banner{
    text-align: center;
}
.banner h1{
    font-size: 65px;
    margin: 140px 260px 40px 260px;

}
/* Main section styling started from here */
main{
    padding: 120px 140px 80px 140px;
}
.action{
    height:330px;
    width: 100%;
    gap:136px;
    align-items: center;
}
.action h2{
    font-size: 42px;
    font-weight: bold;
}
.action p{
    margin: 30px 0;
    font-size: 24px;
    color: var(--mini-text-color);
}
.action-right img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
/* user section styling started from here */
.user{
  width:100%;
  height:310px;
  margin:50px 0 90px 0;
  padding: 50px 130px;
  background-color:rgb(229, 231,255);
  text-align: center;
  gap: 160px;
  align-items:center;
  border:none;
  border-radius: 24px;
}
.user h2{
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}
.user-content-child{
  height: 125px;
  text-align: center;
  font-family:sans-serif;
}
.user-content-child h1{
font-size: 80px;
font-weight: bold;
text-align: center;
color:var(--primary-color);
}
.user-content-child p{
  font-weight: 20px;
  color: var(--mini-text-color);
}

/* user feedback styles started from here */
.user-feedback{
  height: 345px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
.user-feedback h2{
  font-size: 42px;
  font-weight: bold;
  margin-bottom:50px;
}
.feedback-container{
  gap: 20px;
  text-align:left;
}
.user-feedback-child{
  background-color: #FFFF;
  padding: 25px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap:24px;
}
.user-info{
  display:flex;
  justify-content: flex-start;
  gap:20px;
}

.image-avatar{
  height:100%;
  width: 100%;
  border-radius: 50%;
}
.user-info-name {
  font-weight: bold;
  color: var(--mini-text-color);
}
.user-info-date{
  color: var(--mini-text-color);
  font-weight: normal;
  margin-top:5px;
}
.user-feedback-child h4{
  font-size: 24px;
  font-weight:600;
  margin-bottom: 10px;
}
/* focus section styling started from here */
.focus{
  height: 690px;
  width: 100%;
  margin:100px 0;
  background-color: #FFFF;
  padding:70px 140px;
  text-align: center;
  border-radius:14px;
}
.focus p{
  margin: 20px 0;
  font-size:16px;
  color: var(--mini-text-color);
}
.btn-focus{
  margin-bottom: 20px;
}
.img-focus{
height:365px;
width: 100%;
border-radius: 48px;
}
/* user form section styling started from here */
.user-form-section{
  height:400px;
  gap:115px;
  align-items: center;
}
.user-form-left h1{
  font-size: 70px;
}
form label{
  font-weight:500;
  font-size: 18px;
}

form input,textarea{
  width:400px;
  display: block;
  padding:15px 25px;
  border:1px solid #D6DDED;
  border-radius: 10px;
  margin: 10px 0;
}
form textarea{
  padding:20px 30px;
  border:1px solid #D6DDED;
  border-radius: 10px;
  margin: 10px 0;
}
.btn-input{
  background-color:rgb(78, 71, 255);margin:16px 0; padding:15px 25px; color: #FFFF; font-weight:bold; border-radius: 10px;
}
/* Footer section styling started from here */
footer{
  background-color: #FFF;
  text-align: center;
  padding: 100px 370px;

}
footer h1{
  font-size: 80px;
  text-transform: uppercase;
  color:var(--primary-color);
  font-weight: bold;
  margin-bottom: 10px;
}
footer p{
color: var(--mini-text-color);
}
/* footer nav bar styling start from here */
footer ul{
  margin:25px;
}
footer ul li{
  list-style: none;
}
footer ul li a{
  text-decoration: none;
  color: var(--mini-text-color);
}
